/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(80, 214, 136);
    color:rgb(199, 198, 187);
}

.cabecalho {
    background-color: #e0c5f3;
    text-align: center;
}

.subtitulo{
    color: #0E002B;
}
.titulo {
    font-weight: bold;
    font-size: 32px;
}
.conteudo{
    background-color: rgb(211, 233, 253);
    color:rgb(6, 42, 109);
}